{{view Todos.CreateTodoView id = "new-todo"
  placeholder = "What needs to be done?"}}

{{#view Todos.StatsView id = "stats"}}
  {{#view Ember.Button classBinding = "isActive"
    target = "Todos.todosController"
    action = "clearCompletedTodos"}}
    Clear Completed Todos
  {{/view}}
  <span class = "remaining">
    {{remainingString}} remaining
  </span>
{{/view}}

{{view Ember.Checkbox class="mark-all-done"
  title = "Mark All as Done"
  valueBinding = "Todos.todosController.allAreDone"}}

{{#collection tagName = "ul"
              contentBinding = "Todos.todosController"
              itemClassBinding = "content.is_done"}}
  {{view Ember.Checkbox titleBinding = "content.title"
      valueBinding = "content.is_done"}}
{{/collection}}
