<h1>Todos</h1>

<script type="text/x-handlebars">
  {{view Todos.MainView}}
</script>

<script type="text/javascript">
  $(function () {
    Todos.todosController.findAll();
  });
</script>

<script type="text/javascript">
  Pusher.log = function(message) {
    if (window.console && window.console.log) window.console.log(message);
  };

  // Flash fallback logging - don't include this in production
  // WEB_SOCKET_DEBUG = true;

  var pusher  = new Pusher('da9e7914580b6095a3e2');
  var channel = pusher.subscribe('supertodos');

  /*
  channel.bind('todos:create', function(data) {
    var todo = Todos.Todo.create({
      id:     data.id,
      title:  data.title,
      is_done: data.is_done
    });
    Todos.todosController.pushObject(todo);
    });
    */

  /*
  channel.bind('todos:destroy', function(data) {
    var todos = Todos.todosController.get('content'),
        i = todos.length;

    while (i--) if (todos[i].id === data.id) {
      Todos.todosController.removeObject(todos[i]);
    }
  });
  */

  channel.bind('todos:update', function(data) {
    var todos = Todos.todosController.get('content').store.models,
        i = todos.length;

    while (i--) if (todos[i].get('id') === data.id) {
      todos[i].set('is_done', data.is_done);
    }
  });
</script>
