!!!
%html
  %head
    %title SuperTodos
    = stylesheet_link_tag    :application
    = javascript_include_tag :application, "http://js.pusher.com/1.11/pusher.min.js"
    = csrf_meta_tags
  
  %body
    = yield